<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.participantsClient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ttjc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ttjc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppThemeForAbout" />

        <activity
            android:name=".AdminPanelHomeActivity"
            android:theme="@style/AppThemeForAdminPanel" />

        <activity
            android:name=".ProjectTimeline"
            android:theme="@style/AppThemeForProjectTimeline" />

        <activity android:name=".AddProject"
            android:theme="@style/AppThemeForProjectTimeline"
            />

        <activity android:name=".ProjectList"
            android:theme="@style/AppThemeForProjectTimeline"
            />

        <activity
            android:name=".AdminPanel"
            android:theme="@style/AppThemeForAdminPanel"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ProjectPlannerActivity"
            android:theme="@style/AppThemeForProjectTimeline" />

        <activity
            android:name=".DiscussionActivity"
            android:theme="@style/AppThemeForChat"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".WebViewParticipant"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ParticipantsDetailActivity"
            android:theme="@style/AppThemeForParticipantAnalysis"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>